.type-indicator {
    position: absolute;
    bottom: 49px;
    left: 20px;
    font-size: 12px;
}

.d-none{
    display: none;
}

.chat-btn{
    position: relative;
    right: 10px;
    float: right;
    bottom: 11px;
}

.chat-btn-accept{
    position: relative;
    right: 10px;
    float: right;
    bottom: 29px;}